{% extends 'base.html.twig' %}

{% block title parent() ~ ' | ' ~ 'Sign-in'|trans %}

{% block content %}
    <h2>{{ 'Access your player account'|trans }}</h2>

    <form action="/login_check" method="post">
        <label for="username">{{ 'Username:'|trans }}</label>
        <input type="text" id="username" name="my_login" value="" />

        <label for="password">{{ 'Password:'|trans }}</label>
        <input type="password" id="password" name="my_secret" />

        <button type="submit">{{ 'login'|trans }}</button>
    </form>
{% endblock %}
