{% extends 'base.html.twig' %}

{% block title parent() ~ ' | ' ~ 'Sign up' %}

{% block content %}
    <h2>Sign up</h2>

    {{ form(registration_form, {'attr': {'novalidate': ''}}) }}
{% endblock %}
